.container {
  width: 1000px;
  height: 650px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app-title {
  color: #4b08c7;
  /* -webkit-text-stroke-color: #692093;
  -webkit-text-stroke-width: .1px; */
}

.content-con {
  width: 100%;
  border-radius: 25px;
  background-color: #fff;
  height: 100%;
  display: flex;
}

.notInUse {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8a8989;
}

.notInUse p {
  font-size: 13px;
  text-align: center;
}

.loader-con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 38px;
  height: 38px;
  border: 5px solid #c3bfbf;
  border-bottom-color: #006ce6;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff0000;
}